@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.nav{
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    width: 95vw;
    list-style: none;
    align-items: center;
    margin: auto;
}
li{
    margin: 0 1rem;
}
.mid{
    margin-left: 5rem;
}
.profile-btn{
    display: flex;
    background: #ffffff;
    border-radius: 35px;
    padding: 5px 10px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(162, 162, 162);
}
.end-cont{
    display: flex;
    list-style: none;
    align-items: center;
}

.search-cont{
    display: flex;
    align-self: center;
}
.search-cont > ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 2px 5px;
    border: 1px solid rgb(179, 179, 179);
    box-shadow: 2px 2px 2px rgb(179, 179, 179);
    border-radius: 25px;
    flex-wrap: wrap;
    font-weight: 600;
}

#search{
    width: 35px;
    border: none;
}

.search-items > input {
    border: none;
}

header{
    padding:  1rem 3rem;
}

.details{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.ratings{
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.star-rating{
    display: flex; 
    align-items: center;
}

#review{
    margin-bottom: 3px; 
    border-bottom: 1px solid black;
}

.hero{
    padding:  1rem 3rem;
    width: 95vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 1.5rem;
}

.main-title-cont{
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.left{
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.host{
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
}

.host-header{
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}


/* footer */

.wrapper {
    width: 85vw;
    margin: auto;
    padding: 1rem 3rem;
    /* background-color: rgb(183, 183, 183); */
  }
  .header-cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1rem;
  }
  .items-cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .items-list > li {
    margin-top: 0.5rem;
  }
  .lower-foot-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 4.5rem;
  }
  .l-foot-items {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  .l-foot-items > * {
    font-size: 0.85rem;
  }
